.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - 125px);
    backdrop-filter: blur(3px);
    background-color: rgba(34, 34, 34, 0.75);
    color: white;
    position: relative;
    li {
        list-style-type: none;
    }
    .empty-cart-placeholder {
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-item {
        position: relative;
        display: flex;
        margin-bottom: 1rem;
        height: 160px;
        h3 {
            position: absolute;
            width: 100%;
            z-index: 2;
            background-color: rgba(34, 34, 34, 0.75);
            backdrop-filter: blur(3px);
            padding: .5rem;
            font-weight: lighter;
        }
        .img-container {
            position: relative;
            width: 30%;
            overflow: hidden;
            img {
                position: absolute;
                width: 200px;
                left: -70%;
            }
        }
        .item-summary {
            position: absolute;
            width: 70%;
            height: 125px;
            margin-left: 30%;
            padding: 0 .5rem;
            top: 2.2rem;
            div {
                margin: .5rem 0;
                display: flex;
                justify-content: space-between;
                span {
                    display: flex;
                    align-items: center;
                }
                .amount-controls {
                    width: 30px;
                    height: 30px;
                    &:nth-child(1) {
                        margin-right: .5rem;
                    }
                    &:nth-child(2) {
                        margin-left: .5rem;
                    }
                }
            }
            .delete-container {
                margin: 0;
                height: 53px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                button {
                    padding: 1rem 1.1rem;
                    right: 1rem;
                    bottom: 2rem;
                    font-weight: bold;
                    box-shadow: rgba(0, 0, 0, 0.5) -5px 5px 10px 2px;
                    background-color: white;
                    transition: .2s;
                    border: 0;
                    border-radius: 2px;
                }
            }
        }
    }
    .sub-total {
        position: sticky;
        bottom: 0;
        z-index: 3;
        background-color: rgba(34, 34, 34);
        padding: .5rem;
        width: 100%;
        h2 {
        display: flex;
        justify-content: space-between;

        }
        .checkout {
            width: 100%;
            font-size: 1.5rem;
            margin: .5rem 0;
        }
    }
}