
.color-container {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
    margin: 5px 0;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 100%;
    * {
        border-radius: 100%;
    }
    .main-color {
        position: relative;
        z-index: 2;
        left: 100px;
        min-width: 100px;
        height: 100px;
        top: -1px;
        margin: 0  1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(80, 80, 80);

        .color-logo-1 {
            // position: relative;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }.color-logo-2 {
            // position: relative;
            width: 20px;
            height: 20px;
        }

    }
}