.shop {
    box-shadow: 0 0px 8px 0px black;
    width: 100%;
    max-width: 400px;
    position: relative;
    background-color: rgba(34, 34, 34, 0.75);
    
        h1 {
            font-size: 2rem;
            padding: 1rem .5rem;
            margin: 0;
            text-align: center;
            color: white;
            background-color: #222222;
        }
        .busted-gif {
            position: absolute;
            left: 0;
            top: 0;
        }
        .fake-nav {
            z-index: 2;
            background-color: #222222;
            color: white;
            position: sticky;
            top: 0;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 1rem .5rem 1.5rem;
            border-radius: 0 0 5px 5px;
            h2 {
                cursor: pointer;
                
            }
            text-decoration: underline;
                text-decoration-color: rgba(0, 162, 255, 0.774);
                transition: .1s;
            :hover {
                color: rgba(0, 162, 255, 0.774);
                transition: .1s;
            }
            .active {
                color: rgba(0, 162, 255, 0.774);
                
            }
        }
    
    .coming-soon {
        position: relative;
        cursor: pointer;
        h2 {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            backdrop-filter: blur(3px);
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 2rem;
            letter-spacing: 2px;
        }
    }
    .body {
        position: relative;
        z-index: 1;
    }
}
@media only screen and (max-width: 355px) {
    .shop {
        
            h1 {
                font-size: 1.7rem;
            }
            .fake-nav {
                font-size: .8rem;
                display: flex;
                justify-content: space-between;
            }
        
    }
}